<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Search Engine</h1>
<form id="searchForm" >
    <div class="form-group">
        <label for="query">Enter your search query:</label>
        <input type="text" class="form-control" id="query" name="query">
    </div>
    <div style="display: flex; justify-content: space-between;">
    <div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="biWordRadio" name="indexType" value="biWord">
            <label class="form-check-label" for="biWordRadio">Bi-Word Index</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="positionalRadio" name="indexType" value="positional">
            <label class="form-check-label" for="positionalRadio">Positional Index</label>
        </div>
        <div class="form-check">
            <input type="radio" class="form-check-input" id="invertedRadio" name="indexType" value="inverted">
            <label class="form-check-label" for="invertedRadio">Inverted Index</label>
        </div>
    </div>
    <div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Stopwords" name="Stopwords" value="Stopwords">
            <label class="form-check-label" for="Stopwords">Stop words</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Lemmatization" name="Lemmatization" value="Lemmatization">
            <label class="form-check-label" for="Lemmatization">Lemmatization</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Stemming" name="Stemming" value="Stemming">
            <label class="form-check-label" for="Stemming">Stemming</label>
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Normalization" name="Normalization" value="Normalization">
            <label class="form-check-label" for="Normalization">Normalization</label>
        </div>

    </div>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Search</button>
</form>


        <div id="results" class="mt-5"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
document.getElementById('searchForm').addEventListener('submit', function(event) {
    event.preventDefault();
    var query = document.getElementById('query').value;
    var indexType = document.querySelector('input[name="indexType"]:checked').value;
    var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
    var url = '/search?q=' + query + '&indexType=' + indexType;

    checkboxes.forEach(function(checkbox) {
        url += '&' + checkbox.name + '=true';
    });

    search(url);
});

function search(url) {
    fetch(url)
    .then(response => response.json())
    .then(data => {
        displayResults(data.results);
    })
    .catch(error => {
        console.error('Error:', error);
    });
}

function displayResults(results) {
    var resultsDiv = document.getElementById('results');
    resultsDiv.innerHTML = '';

    if (results.length === 0) {
        resultsDiv.innerHTML = 'No results found.';
        return;
    }

    var resultList = document.createElement('ul');
    results.forEach(function(result) {
        var listItem = document.createElement('li');
        listItem.innerHTML = result; // Use innerHTML to interpret HTML tags
        resultList.appendChild(listItem);
    });
    resultsDiv.appendChild(resultList);
}

</script>

</body>
</html>
